<footer class="mt-auto text-white bg-dark text-center">
	<div>
		Nicolas Porras Falconio<br>
		CST336 - Internet Programming - Final Project
  </div>
	<div>
    <img src="img/CSUMB.png" width="175">
  </div>
</footer>